{% extends 'base.html.twig' %}

{% block body %}
  <h1>Task list</h1>
  <ul>
    <li>
      <a href="{{path('task_new')}}">Create a new task</a>
    </li>
  </ul>
  <table class="records_list">
    <tbody>
    {% for task in tasks %}
      <tr>
        <td id="task-complete-{{task.id}}">
          <a class="ajax-task-complete" data-complete="{% if task.complete %}true{% else %}false{% endif %}" href="{{path('task_edit_complete', {'id': task.id})}}">
            {% if task.complete %} X {% else %} O {% endif %}
          </a>
        </td>
        <td>{{ task.task }}</td>       
        <td>
          <ul>
            <li>
              <a href="{{ path('task_show', { 'id': task.id }) }}">show</a>
            </li>
            <li>
              <a href="{{ path('task_edit', { 'id': task.id }) }}">edit</a>
            </li>
          </ul>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
